[Unit]
Description=shell3 Telegram bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=HOME={{.Home}}
WorkingDirectory={{.ConfigDir}}
ExecStart={{.DefaultBin}} telegram --config {{.ConfigDir}}/shell3.lua
Restart=always
RestartSec=3
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
